body{
    font-family: "Rubik", sans-serif;
    background: linear-gradient(to bottom right, #043742, #000000);
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    margin-bottom: 20px;
    border-radius: inherit;

}

h2{
    margin-left: 15px;
    margin-bottom: 0px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
    
}

p{
    margin-left: 15px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.4);
}

form {
    margin: 15px;
    padding: 20px;
    border-radius: 35px;
    width: 532px;
}

label{
    display: block;
    margin-bottom: 10px;

}

input {
    font-family: "Rubik", sans-serif;
    width: 100%;
    padding: 12px;
    border-radius: inherit;
    border: none;
    background-color:rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.4);
    height: 45px;
    box-sizing: border-box;


}

.input-wrapper{
    position: relative;
    width: 100%;
    border-radius: inherit;
}



.mail-icon{ 
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    pointer-events: none;
    fill: rgb(255, 255, 255);
    fill-opacity: 0.4;

}


.password-icon{ 
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    pointer-events: none;
    fill: rgb(255, 255, 255);
    fill-opacity: 0.4;

}


.passwordConfirm-icon{ 
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    pointer-events: none;
    fill: rgb(255, 255, 255);
    fill-opacity: 0.4;

}

input[type="email"] {
    width: 100%; 
    padding: 10px 15px 10px 60px;  
    font-size: 16px; 
    outline: none; 
}

input[type="email"]:hover {
    border: solid 1px;
    border-color: #11AED0;
    box-shadow: 0 4px 20px rgba(17, 174, 208, 0.3);

}

input[type="email"]:focus {
    border: solid 1px;
    border-color: #11AED0;
    box-shadow: 0 4px 20px rgba(17, 174, 208, 0.3);
    color: white;

}

.input-wrapper input[type="email"]:focus + .mail-icon {
    fill: rgb(255, 255, 255);
    fill-opacity: 1;

}

.input-wrapper input[type="password"]:focus + .password-icon {
    fill: rgb(255, 255, 255);
    fill-opacity: 1;

}

input[type="password"] {
    width: 100%; 
    padding: 10px 15px 10px 60px;  
    font-size: 16px;    
    outline: none; 
}


input[type="text"] {
    width: 100%; 
    padding: 10px 15px 10px 60px;  
    font-size: 16px; 
    outline: none; 
}
input[type="password"]:hover {
    border: solid 1px;
    border-color: #11AED0;
    box-shadow: 0 4px 20px rgba(17, 174, 208, 0.3);

}

input[type="password"]:focus {
    border: solid 1px;
    border-color: #11AED0;
    box-shadow: 0 4px 20px rgba(17, 174, 208, 0.3);
    color: white;

}

input[type="confirmPassword"] {
    width: 100%; 
    padding: 10px 15px 10px 60px;  
    font-size: 16px; 
    outline: none; 
}


input[type="submit"]{
    background-color: rgba(255, 255, 255, 0.02);
    color:  rgba(255, 255, 255, 0.4);
    cursor: pointer;
    border: none;
    transition: all .5s ease;
}

input[type="submit"]:hover{
    background-color: #223CAF;
    color: white;
}

.error-message{
    color:#11AED0;
    font-size: 12px;
    display: none;
    margin-top: 10px;

}

#show-hide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .5s ease;
    right: 30px;
}

#show-hide:hover { 
    border-bottom: 1px solid #223CAF;
    color: #223CAF;
}

.input-wrapper input:not(:placeholder-shown) {
    color: white; 
}

.input-wrapper input:not(:placeholder-shown) + .mail-icon {
    fill: rgb(255, 255, 255);
    fill-opacity: 1;

}

.input-wrapper input:not(:placeholder-shown) + .password-icon {
    fill: rgb(255, 255, 255);
    fill-opacity: 1;

}

.input-wrapper input:not(:placeholder-shown) + .passwordConfirm-icon {
    fill: rgb(255, 255, 255);
    fill-opacity: 1;

}

.password-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    
}

.showPassword {
    fill: white;
}

.hidePassword {
    fill: white;
    fill-opacity: 0.4;
}
